@font-face {
    font-family: 'Lobster Two', cursive;
    src: url('../fonts/LobsterTwo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('../fonts/PTSans-Italic.ttf') format('truetype');
}

body {
    background-color: #CDF0EA;
}

#img-top {
    width: 70%;
    height: 70%;
    border-radius: 70%;
    align-self: center;
    border-style: solid;
    border-color: #1597E5;
    border-width: 5px;
}

#align-center {
    text-align: center;
}

#bottom-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: -100px;
}

#bottom-second {
    margin-top: -200px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 30px;
}

#top-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 #top-left-corner {
    width:  192px;
    height: 190px;
    transform: scaleX(-1);
}

 #top-right-corner {
    width:  192px;
    height: 190px;
}

 #bottom-left-corner {
    width:  192px;
    height: 190px;
    transform: rotate(180deg);
}

 #bottom-right-corner {
    width:  192px;
    height: 190px;
    transform: rotate(180deg) scaleX(-1);
}

#div-desktop {
    align-items: center;
    margin-top: 20px;
}

#centered-bold-text {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #1E3163;
    font-size: 24px;
}

#centered-name-text{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #B91646;
    font-size: 26px;
}

#normal-title-top {
    margin-top: 100px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: #1E3163;
    font-size: 26px;
    text-decoration: underline;
}

#normal-text-top {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    color: #1E3163;
    font-size: 20px;
}

#normal-text {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #1E3163;
    font-size: 20px;
}

#sub-heading {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #142F43;
    font-size: 24px;
}

#details {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    color: #2E4C6D;
    margin-top: -10px;
}

#divider-line {
    border: 0;
    height: 55px;
    background-image: url('../images/type_7.png');
    background-repeat: no-repeat;
}
