body {
    background-color: #CDF0EA;
}

#img-top {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    align-self: center;
}

#align-center {
    text-align: center;
}

#bottom-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: -100px;
}

#bottom-second {
    margin-top: -200px;
    padding-left: 10%;
    padding-right: 10%;
}

#top-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 #top-left-corner {
    width:  192px;
    height: 190px;
    transform: scaleX(-1);
}

 #top-right-corner {
    width:  192px;
    height: 190px;
}

 #bottom-left-corner {
    width:  192px;
    height: 190px;
    transform: rotate(180deg);
}

 #bottom-right-corner {
    width:  192px;
    height: 190px;
    transform: rotate(180deg) scaleX(-1);
}

#table-style {
    width: 100%;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 80px;
}

#centered-bold-text {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2F86A6;
}

#centered-name-text{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3E7C17;
}

#normal-text-top {
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #2F86A6;
}

#normal-text {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2F86A6;
}

#sub-heading {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #464660;
}

#details {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #6D8299;
}
